.banner
{
    position:relative;
    overflow:auto; 
	margin:0 auto 0;
	display:block;
	width:100vw;
}

.banner li
{
    list-style:none;
}

.banner ul li
{
    float:left;
}

#news
{
    position:relative;
    overflow:hidden; 
	margin:0 auto 0;
	display:block;
    height:22px;
	width:920px;
    margin-top:15px;
	font-size:14px !important;
    line-height:18px !important;
	font-family:verdana, Arial, Helvetica, sans-serif;
    background:url('images/latest_news.png') left top no-repeat; /* in styles/images */
    color:#000000;
	background-color:#FFFFFF;
}

#news li
{       
    padding-top:1px;
    height:22px;
    list-style:none;
    margin-left:90px;
}

.news_read
{
    position:relative;
    overflow:hidden; 
	display:block;
    height:22px;
	width:59px;
    margin-top:-19px;
    margin-left:771px;
    float: right;
    background:url('images/latest_news_read_more.png') left top no-repeat; /* in styles/images */
}

/* //////////////// Responsice CSS //////////////// */

@media only screen and (max-width: 960px) {
    .banner li a img{
        width: 100vw;
    }

	#news {
        width: calc(100vw - 130px);
        padding-left: 130px;
    }

    #news li {
        margin-left:0;
        max-width: calc(100vw - 130px);
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .news_read {
        margin-left: 0;
        /* display: none; */
    }
}