table
{
	width:100%;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:top;
	margin-bottom:15px;
	border:1px solid #666666;
}

table thead th, table tbody td
{
	padding:6px;
	border-collapse:collapse;
}

table thead th
{
	color:#AAAAAA;
	background-color:#000000;
	border:1px solid #666666;
	border-collapse:collapse;
	text-align:center;
	table-layout:auto;
	vertical-align:middle;
    font-size:14px;
    letter-spacing:1px;
}

table tbody td
{
	vertical-align:top;
	border-collapse:collapse;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
    padding-left:10px;
}

/* For Black Background */
table tbody tr.black_light
{
	color:#CCCCCC;
	background-color:#333333;
}

table tbody tr.black_dark
{
	color:#CCCCCC;
	background-color:#1A1A1A;
}

/* For White Background */
table thead th.white_head
{
	color:#1F1F1F;
	background-color:#888888;
}

table tbody tr.white_light
{
	color:#000000;
	background-color:#DDDDDD;
}

table tbody tr.white_dark
{
	color:#000000;
	background-color:#BCBCBC;
}
